<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>PI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('.static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
    <script src="{{url_for('.static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('.static', filename='js/tether/tether.min.js')}}"></script>
    {{ JSGlue.include() }}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <!--<li role="presentation" class="nav-item"><a class="nav-link" href="index">Index</a></li>-->
          <li role="presentation" class="nav-item"><a class="nav-link" href="crontab">crontab</a></li>
          <!--<li role="presentation" class="nav-item"><a class="nav-link" href="croncontrol">control</a></li>-->
        </ul>
      </div>
    </nav>
    {% block content %}{% endblock %}
    {% block footer %}
    Created in 2017 by <a href="https://github.com/fluxkompensator/">flux</a>.
    <script src="{{url_for('.static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('.static', filename='js/custom.js')}}"></script>
    {% endblock %}
  </body>
</html>

